@font-face {
  font-family: "amsterdam-four";
  src: url("../fonts/amsterdam-four.ttf");
}

@font-face {
  font-family: "GlacialIndifference-Regular";
  src: url("../fonts/GlacialIndifference-Regular.otf");
}

/* DESKTOP */
@media (min-width: 360px) {
  body {
    background-color: #f7f1e3;
  }
  .container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
  }
  .gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: amsterdam-four, sans-serif;
    font-weight: bold;
    color: #EAB543;
  }
  .gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
  }
  .tz-gallery {
    padding: 40px;
  }
  .tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  .tz-gallery .lightbox img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }
  .tz-gallery img {
    border-radius: 4px;
  }
  .baguetteBox-button {
    background-color: transparent !important;
  }
  .jumbotron {
    background-image: url("../img/wedding.jpg");
    background-size: cover;
    height: 576px;
    background-position: center;
    border-radius: 0px !important;
    text-align: center;
  }
  .jumbotron div #pasangan {
    padding-top: 10px;
    font-family: amsterdam-four;
    font-size: 32px;
    font-style: normal;
    color: white;
    position: relative;
  }
  .jumbotron div #wedding {
    font-family: GlacialIndifference-Regular;
    text-align: center;
    padding-top: 390px;
    color: white;
    font-size: 11px;
  }
  .ayat {
    background-color: #f7f1e3;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ayat .container {
    max-width: 800px;
    width: 100%;
    height: 25vh;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ayat .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ayat #ayat {
    font-size: 12px;
    font-family: GlacialIndifference-Regular;
    margin-left: 3px;
    margin-right: 3px;
  }
  .ayat #chapter {
    font-size: 14px;
    font-family: GlacialIndifference-Regular;
  }
  .ayat h1 {
    font-family: 'Merienda', cursive;
    font-size: 20px;
  }
  .invitation {
    background-size: cover;
    height: 576px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/bg-3.jpg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .invitation .container {
    max-width: 1200px;
    width: 85%;
    height: 500px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(194, 177, 156, 0.7);
    border-radius: 5%;
  }
  .invitation .row {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .invitation h1 {
    font-family: amsterdam-four;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
  }
  .invitation h2 {
    font-family: GlacialIndifference-Regular;
    font-size: 15px;
    font-weight: bold;
  }
  .invitation h3 {
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    font-size: 20px;
    margin-top: 1px;
  }
  .invitation p {
    font-family: GlacialIndifference-Regular;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .card-couple {
    background-color: #f7f1e3;
  }
  .card-couple.container {
    margin-top: 10%;
    margin-left: 20px;
  }
  .card-couple .card {
    border-radius: 25px;
  }
  .inner {
    overflow: hidden;
  }
  .inner img {
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
  }
  .inner:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .countdown div {
    border-radius: 10px 10px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 60px;
    height: 45px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: normal;
    text-align: center;
    background: #8c9c4f;
    color: #fff;
    margin: 40px 7px;
    font-weight: 300;
    font-family: GlacialIndifference-Regular;
    font-size: 35px;
  }
  .countdown div#days::before {
    content: 'Days';
  }
  .countdown div#hours::before {
    content: 'Hours';
  }
  .countdown div#minutes::before {
    content: 'Minutes';
  }
  .countdown div#seconds::before {
    content: 'Seconds';
  }
  .distanced {
    margin-bottom: 63px;
  }
  .countdown div::before {
    content: '';
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 25px;
    width: 100%;
    background: #8c9c4f;
    color: #fff;
    padding-top: 0;
    font-weight: 300;
    font-family: GlacialIndifference-Regular;
    font-size: 11px;
  }
  .counter {
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    opacity: 1;
    color: #333;
  }
  .counter-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  }
  .tombol-white {
    text-decoration: none;
    color: #000;
    padding: 8px 25px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 12px;
    font-family: GlacialIndifference-Regular;
    background-color: white;
  }
  .tombol {
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 12px;
    background-color: #8c9c4f;
    font-family: GlacialIndifference-Regular;
  }
  .btn {
    -webkit-transition: .7s;
    transition: .7s;
  }
  .btn:hover {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  h5 {
    font-family: amsterdam-four;
    line-height: 40px;
    font-style: normal;
  }
  .card-body p {
    font-family: GlacialIndifference-Regular;
  }
  .section-groom {
    background-color: #ffffff;
  }
  .section-groom img {
    color: #fff;
    border-radius: 25%;
    border-style: solid;
    width: 18rem;
    height: 18rem;
  }
  .section-groom .caption {
    text-transform: uppercase;
    font-family: 'Viga', sans-serif;
    font-size: 24px;
    color: #000;
  }
  .section-groom h1 {
    font-family: amsterdam-four;
    color: #EAB543;
    font-weight: 500;
  }
  .section-groom h2 {
    font-family: amsterdam-four;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    color: #000;
  }
  .section-groom p {
    color: #726f6f;
    line-height: 1.7;
    font-size: 18px;
    font-family: GlacialIndifference-Regular;
  }
  .salam .jumbotron {
    background-image: url("../img/salam bahagia.jpg");
    background-size: cover;
    height: 400px;
    background-position: center;
    border-radius: 0px !important;
    text-align: center;
  }
  .salam .jumbotron div #salam {
    padding-top: 30px;
    font-family: amsterdam-four;
    font-size: 32px;
    font-style: normal;
    color: white;
    position: relative;
  }
  .salam .jumbotron div #pasangan2 {
    font-family: GlacialIndifference-Regular;
    text-align: center;
    padding-top: 15px;
    color: white;
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  body {
    background-color: #f7f1e3;
  }
  .container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
  }
  .gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: amsterdam-four;
    color: #EAB543;
    font-weight: 500;
  }
  .gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
  }
  .tz-gallery {
    padding: 40px;
  }
  .tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  .tz-gallery .lightbox img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }
  .tz-gallery img {
    border-radius: 4px;
  }
  .baguetteBox-button {
    background-color: transparent !important;
  }
  .foto .jumbotron {
    background-image: url("../img/wedding.jpg");
    background-size: cover;
    height: 942px;
    background-position: center;
    border-radius: 0px !important;
    text-align: center;
  }
  .foto .jumbotron div #pasangan {
    padding-top: 40px;
    font-family: amsterdam-four;
    font-size: 72px;
    font-style: normal;
    color: white;
    position: relative;
  }
  .foto .jumbotron div #wedding {
    font-family: GlacialIndifference-Regular;
    text-align: center;
    padding-top: 630px;
    color: white;
    font-size: 20px;
  }
  .ayat {
    background-color: #f7f1e3;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ayat .container {
    max-width: 800px;
    width: 100%;
    height: 50vh;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ayat .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 50px;
  }
  .ayat #ayat {
    font-size: 20px;
    font-family: GlacialIndifference-Regular;
  }
  .ayat #chapter {
    font-size: 23px;
    font-family: GlacialIndifference-Regular;
  }
  .ayat h1 {
    font-family: 'Merienda', cursive;
  }
  .invitation {
    background-size: cover;
    height: 942px;
    background-position: center;
    background-image: url(../img/bg-2.jpg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .invitation .container {
    max-width: 1200px;
    width: 100%;
    height: 700px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(194, 177, 156, 0.7);
    border-radius: 5%;
  }
  .invitation .row {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .invitation h1 {
    font-family: amsterdam-four;
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 35px;
  }
  .invitation h2 {
    font-family: GlacialIndifference-Regular;
    font-size: 28px;
    font-weight: bold;
    position: relative;
  }
  .invitation h3 {
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    margin-top: 25px;
  }
  .invitation p {
    font-family: GlacialIndifference-Regular;
    font-size: 23px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .card-couple {
    background-color: #f7f1e3;
  }
  .card-couple.container {
    margin-top: 10%;
    margin-left: 20px;
  }
  .card-couple .card {
    border-radius: 25px;
    width: 25rem;
  }
  .inner {
    overflow: hidden;
  }
  .inner img {
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
  }
  .inner:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .countdown div {
    border-radius: 10px 10px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 70px;
    height: 45px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: normal;
    text-align: center;
    background: #8c9c4f;
    color: #fff;
    margin: 40px 7px;
    font-weight: 300;
    font-family: GlacialIndifference-Regular;
    font-size: 45px;
  }
  .countdown div#days::before {
    content: 'Days';
  }
  .countdown div#hours::before {
    content: 'Hours';
  }
  .countdown div#minutes::before {
    content: 'Minutes';
  }
  .countdown div#seconds::before {
    content: 'Seconds';
  }
  .distanced {
    margin-bottom: 63px;
  }
  .countdown div::before {
    content: '';
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 25px;
    width: 100%;
    background: #8c9c4f;
    color: #fff;
    padding-top: 0;
    font-weight: 300;
    font-family: GlacialIndifference-Regular;
    font-size: 15px;
  }
  .counter {
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    opacity: 1;
    color: #333;
  }
  .counter-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  }
  .tombol {
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 12px;
    background-color: #8c9c4f;
  }
  .tombol-white {
    text-decoration: none;
    color: #000;
    padding: 8px 30px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 15px;
    font-family: GlacialIndifference-Regular;
    background-color: white;
  }
  .btn {
    -webkit-transition: .7s;
    transition: .7s;
  }
  .btn:hover {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  h5 {
    font-family: amsterdam-four;
    line-height: 40px;
    font-style: normal;
    font-weight: 700;
  }
  .card-body {
    min-height: 368px;
    max-height: 472px;
  }
  .card-body p {
    font-family: GlacialIndifference-Regular;
  }
  .salam .jumbotron {
    background-image: url("../img/salam bahagia.jpg");
    background-size: cover;
    height: 658px;
    background-position: center;
    border-radius: 0px !important;
    text-align: center;
  }
  .salam .jumbotron div #salam {
    padding-top: 70px;
    font-family: amsterdam-four;
    font-size: 42px;
    font-style: normal;
    color: white;
    position: relative;
  }
  .salam .jumbotron div #pasangan2 {
    font-family: GlacialIndifference-Regular;
    text-align: center;
    padding-top: 30px;
    color: white;
    font-size: 20px;
  }
  .section-groom {
    background-color: #ffffff;
  }
  .section-groom img {
    color: #fff;
    border-radius: 25%;
    border-style: solid;
    width: 18rem;
    height: 18rem;
  }
  .section-groom .caption {
    text-transform: uppercase;
    font-family: 'Viga', sans-serif;
    font-size: 24px;
    color: #000;
  }
  .section-groom h1 {
    font-family: amsterdam-four;
    color: #EAB543;
    font-weight: 500;
  }
  .section-groom h2 {
    font-family: amsterdam-four;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    color: #000;
  }
  .section-groom p {
    color: #726f6f;
    line-height: 1.7;
    font-size: 18px;
    font-family: GlacialIndifference-Regular;
  }
}
/*# sourceMappingURL=style.css.map */